{
	# Remove this block for production HTTPS
	auto_https off
}

:80 {
	# API
	handle /api/* {
		reverse_proxy backend:8000
	}

	# Django Admin
	handle /admin/* {
		reverse_proxy backend:8000
	}

	# Static files served by Django in development
	handle /static/* {
		reverse_proxy backend:8000
	}

	# Media files served by Django in development
	handle /media/* {
		reverse_proxy backend:8000
	}

	# Frontend (Next.js)
	handle {
		reverse_proxy frontend:3000
	}
}
